$font-size-base: 1.15rem;
$primary:  rgb(41, 141, 255); // rgb(78, 104, 255);
$primary_light:  rgb(128, 185, 255);
$primary_light_2:  rgb(208, 224, 255);
$secondary:  rgb(197, 79, 0);

$border-radius:               .6rem;
$border-radius-sm:            1.2rem;
$border-radius-lg:            1.8rem;
$border-radius-pill:          50rem;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Create your own map
$custom-colors: (
  "muted": #888
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap";

#navbar-main {
  .links {
    @media (max-width: 768px) {
      display: none;
    }

    a {
      text-decoration: none;
    }
  }

  .dropdown_panel_button {
    @media (min-width: 768px) {
      display: none;
    }

    border: none;
    padding: 0.0rem 0.6rem;
    background: none;
    border-radius: $border-radius;
    border: 2px solid $primary;
    color: $primary;
    transition: all 0.2s ease;
    font-size: 1.2em;

    &:hover {
      background: $primary;
      color: white;
    }
  }

  .mobile_dropdown_panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(188, 214, 255, 0.85);
    backdrop-filter: blur(5px) !important;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease;

    &.expanded {
      clip-path: inset(0 0 0 0);
    }

    .top_bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;

      span {
        flex-grow: 1;
        font-style: italic;
      }
    }
    
    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 1rem;
        background: $primary;
        margin-bottom: 2px;

        a {
          text-decoration: none;
          display: block;
          color: white;
        }
      }
    }
  }
}

.project_details {
  .project_preview {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease;

    &.clickable:hover {
      transform: scale(1.01);
    }
  }

  .project_image_preview {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 5px;

    border: 2px solid grey;
  }

  .back_button {
    &:hover {
      color: white;
    }
  }
}

.projects {
  .project_tile {
    display: inline-block;
    position: absolute;
    padding: 0.5rem;
    transition: all 0.3s ease;
    height: 200px;

    .inner {
      padding: 1rem;
      transition: all 0.3s ease;
      background: white;
      box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
      border-radius: $border-radius;
      height: 100%;

      .project_desc{
        color: black;
      }
    }


    &:hover {
      transform: scale(1.05);

      .inner {
        background: $primary_light_2;
      }
    }

    // shadow p-3 rounded bg-light h-100
    // d-inline-block position-absolute p-1 animated-all anim-hover-lighten-light
  }

  .no_projects_message {
    color: grey;
    text-align: center;

    &.hidden {
      color: transparent;
    }
  }
}

.portfolio {
  .magna_cum_laude {
    color: green;
  }
}